@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Nunito', sans-serif;
	--breakpoint-sm: 600px;
	--breakpoint-md: 900px;
	--breakpoint-lg: 1200px;
}

body {
	font-family: var(--font-sans);
}
